/*body*/

body{
    font-family:'Source Sans Pro', sans-serif;
    color:#666;
    font-size:16px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background-color: #e5e5e5 !important;
}

* {
    text-shadow: 0 1px 1px rgba(255,255,255,.3);
}

p{line-height: 24px;};
a{color:#0088cc;}
a:hover{text-decoration: none;}
/*strong{float: left;}*/



h1,h2,h3,h4,h5,h6{ font-family:'Source Sans Pro', sans-serif}

h1{font-size:50px; font-weight: 200; color: #555; margin-bottom: 20px;}
h2{font-size: 30px; font-weight: 300; color:#444; margin: 30px 0}
h3{font-size: 20px; font-weight: 400; margin: 20px 0;}
h4{font-size:18px; font-weight: 400}
/*menu*/
.menumain a
{
    font-size: 16px; 
}
.menu{
    max-height: 100%;
    /*padding: 50px;*/
}
@media (max-width: 767px){
    [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
        display: block;
        float: left;
        width: 50%;
        margin-left: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }}
/*header*/
#header-row{
    background: #fff;
    border-bottom:1px solid #eee;
    border-bottom: #ed431f 2px solid; 
    width: 100%;
}

#header-row .navbar{margin:10px 0 0 0;}

#header-row .navbar .navbar-inner{
    border:none;
    box-shadow: none;
    margin: 0;
    background: transparent;
}
#header-row .navbar .navbar-inner ul.nav > li{

    padding: 20px 5px 0px 5px;
}
#header-row .navbar .navbar-inner ul.nav > li > a{
    box-shadow: none;
    background: transparent;
    color: #333;
    text-align: right;
    margin-right: -7px;
}
#header-row .navbar .navbar-inner ul.nav li.active a{
    color: #e9322d;
    border-bottom: #e9322d 2px solid;
}
#header-row .navbar .navbar-inner ul.nav li:hover a{
    color: #e9322d;
    border-bottom: #e9322d 2px solid;
}
.brand img{
    border-radius: 100px;
    width: 50% !important;
    max-width: 50% !important;
    padding: 10px;
}
.logo{
    max-width: 50% !important;
    float: left !important;
}
/*banner*/
.span6 img
{
    height: auto;
    max-width: 100%;
}
#banner-img{
    height: 750px;
    max-width: 100%;
    background-image: url("../images/Home/baner.png");
    background-repeat: space;
    background-size: cover;
}
#banner-img p
{
    line-height: 1.1;
    font-size: 32px;
}
#banner-img hr{
    margin: 0 auto;
    max-width: 40%;
    border-color: #fff;
}
.title{
    padding: 200px 0 10px 0 ;
}
.hr{
    padding: 0px 0 40px 0;
}
#banner-img a{
    border-color: #ed431f;
    padding: 20px 40px 20px 40px;
    color: #fff;
    background-color: #f05f40;
    text-decoration: none;
    border-radius: 300px;
    text-transform: uppercase;
    font-weight: 700;
}
#banner-img a:hover{
    background-color: #ed431f;
    -webkit-box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15); 
    transform: translateY(-4px);
    -webkit-transform: translateY(-15px);
}
.title
{
    width: 100%;
    height: 100%;
    text-align: center;
}
.item1{
    /*background: #e9322d;*/
}
/*sevice*/
.sevice{
    margin: 20px 20px 20px 20px;
    padding: 50px 0 50px 0;
}
#sevices{
}
#sevices .boder{

    border-bottom: #ddd solid 1px;
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15); 
}
.sevice i{
    font-size: 32px;
    text-align: center;
    padding: 60px;
    background-color: #f73b56;
    border-radius: 100px;
    border-bottom: #0088cc solid 1px;
    color: #fff;
    margin: 10px 10px 10px 10px;
}
.sevice .item1 i:hover{
    background-color: #ed431f;
    -webkit-box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15); 
    transform: translateY(-4px);
    -webkit-transform: translateY(-5px);
    transition-duration: 0.25s;
}
.sevice .font{
    width: 100%;
    text-align: center;
}

/*conten*/
.conten-home{
    border-top: #ddd solid 1px;
}
.conten-home h1{
    padding: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    font-weight: 200;
    color: #555;
    margin-bottom: 20px;
}
.feature-box{
    margin: 30px 0 30px 0;
}
.item
{
    height: auto;
    margin-top: 30px;
    background: #fff;
    transition-duration: 0.25s;
    padding: 0 0 5px 0;
}
.item:hover{
    -webkit-box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15); 
    transform: translateY(-4px);
    -webkit-transform: translateY(-15px);
}
.item h2
{
    font-size: 18px;
    margin-left: 10px;
}
.item a
{
    font-size: 16px;
    margin: 0 0 0px 10px;
    padding: 5px;
    text-align: right;

}
.item a:hover{
    color: #e9322d;
    text-decoration: none;
}
.item p{
    padding: 5px;
    text-align: left;
}
/*pagination*/
.pagination{
    text-align: center;
}
/*footer*/
footer{
    background: #fff;
    margin-top:15px;
    padding: 30px;
    text-align: center;
    border-top: #ed431f 2px solid;
    text-shadow: 0 1px 5px rgba(255,255,255,.3);
}
/*about*****************/

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/fontawesome-webfont.woff);
}
.content h1{
    padding: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    font-weight: 200;
    color: #555;
    margin-bottom: 20px;
}
.content h2{
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: 200;
    color: #555;
}
.border{
    background-image: url('../images/slide-bg.png');
    margin-bottom: 10px;
}
.single_progress_bar .progress-bar {
    background-color: #2d3334;
}
.progress{
    background-color: #ddd !important;
    height: 6px !important;
}

.single_progress_bar h2{
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.content-item{
    background-color: #fff;
    border: #ddd solid 1px;
    border-radius: 5px;
    padding: -4px;
    max-width: 100%;
}
.content{
    background-color: #fff;
}
.contact-form {
    background-color: #f1f1f1;
    margin-top: 50px !important;
}
.contact-form #message {
    height: 104px;
}
.contact-form .form-control {
    height: 43px;
    border-radius: 0px;
    margin-bottom: 20px;
    border: 0px solid #fff;
    width: 100%;
}
.btnsend {
    width: 100%;
    background: #f73b56;
    border-radius: 0px;
    color: #fff;
    padding-top: 13px;
    padding-bottom: 10px;
    transition: all 1s;
}
.form_info{
    margin-left: 35px !important;
}
.form_map{
    margin: 0 auto !important;
    padding: 15px;
    margin: 10px 0 10px 0;
}
.map{
    width: 100%;
    height: 400px;
    border: #fff solid 2px;
}
.info{
    background-color: #fff;
    float: left;
}
.info p{
    width: 100%;
    font-size: 18px;
    /*margin-top: 20px;*/
    text-align: right;
}
.info h4{
    float: left;
}
.product-author
{
    height: 50px;
    border-bottom: #ddd 1px solid;
}
.product-author i{
    color: #0e90d2;
    font-size: 32px;
}
.product-download i{
    font-size: 32px;
}
.product-download a:hover{
    text-decoration: none;
    color: #ed431f;
}
.product-download{
    height: 50px;
    border-bottom: #ddd 1px solid;
}
.product-download a{
    height: 50px;
    font-size: 18px;
}
.product-like{
    height: 50px;
    border-bottom: #ddd 1px solid;

}
.product-like i{
    color: #f73b56;
    font-size: 32px;
}
.info{
    width: 100% !important;
    margin-top: 30px;
}
.user-img{
    height: 100px;
}
.user-img img{
    max-width: 80px;
    border-radius: 50px;
    border:  #337ab7 solid 1px;
    margin: 5px 5px 5px 5px;
    float: left;
}
.user-img h3{
    float: left;
    padding: 10px;
    font-size: 24px;
}
.user-img span{
    float: left;
    margin-top: 32px;
}
.input-xxlarge
{
    height: 100px;
}
.left{
    float: left !important;
    font-size: 18px;
    font-weight: 300;
}
.right{
    margin-top: 12px;
    margin-right: 10px;
    float: right !important;
    font-size: 24px;
    font-weight: 300;
}
.form-cmt{
    margin-top: 50px;
}
.comment-form {
    background-color: #f1f1f1;
    margin: 50px 0 15px 15px !important;
}
.comment-form #message {
    height: 104px;
}
.comment-form .form-control {
    height: 43px;
    border-radius: 0px;
    margin-bottom: 20px;
    border: 0px solid #fff;
    width: 100%;
}